@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: white;
    min-height: 100vh;
}

.navbar{
    z-index: 10;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 80px;
    font-family: "Inter", sans-serif;
    background-color: #2e7974;
    align-items: center;
    justify-content: center;
}

.menu{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 70%;
    text-align: center;
    padding: 20px;
}

.menu li{
    list-style: none;
}

.menu a{
    color: azure;
    text-decoration: none;
    list-style: none;
    padding: 18px 90px;
    font-size: 22px;
    position: relative;
}

.menu a:hover{
    border-bottom: 4px solid #f1f8ff;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 2px;
}

.headline {
    margin-top: 150px;
    margin-left: 13%;
    flex: 40%;
}

.headline h1{
    font-size: 80px;
    margin-bottom: 25px;
    font-family: "Inter", sans-serif;
}

.headline p {
    width: 100%;
    display: grid;
    place-items: center;
    color: rgb(92, 91, 91);
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: 25px;
}

.verde{
    color: #2e7974;
}

.agende-btn{
    display: inline-block;
    background: #2e7974;
    padding: 20px;
    margin-top: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    border-radius: 12px;
    text-decoration: none;
}

.img-headline{
    margin-top: 120px;
    margin-right: 100px;
    padding: 50px;
    flex: 40%;
    text-align: center;
    width: 100%;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 78vh;
    padding: 0 35px;
}

ul .carousel{
    z-index: 1;
}

.wrapper{
    max-width: 1500px;
    width: 100%;
    position: relative;
}

.wrapper i{
    z-index: 1;
    display: grid;
    height: 50px;
    width: 50px;
    background-color: #f1f8ff;
    place-items: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

.wrapper i:first-child{
    left: -22px;
}

.wrapper i:last-child{
    right: -22px;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel :where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel.no-transition{
    scroll-behavior: auto;
}

.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel .card{
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #ebf4fc;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

@media screen and (max-width: 900px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}

.title3{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 90px;
    font-family: "Inter", sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    width: 84%;
    padding: 20px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    /*background-color: #3c9690ba;*/
    border-radius: 15px;
}

.servicos{
    width: 45%;
    background-color: #eceaea;
    padding: 25px;
    border-radius: 15px;
}

summary{
    font-size: 33px;
}

/* Estilo da seta personalizada (inicialmente virada para a direita) */
details > summary {
    content: url(img/seta-para-cima\ \(1\).png);
    cursor: pointer;
    user-select: none;
    padding: 0.5em;
    position: relative;
    list-style-type: none; /* Remove a marcação padrão */
}

/* Estilo da seta personalizada (inicialmente virada para a direita) */
details > summary::after {
    content: url(img/seta-para-cima\ \(1\).png);
    margin-left: 2%;
    position: absolute;
    right: auto;
    transition: transform 0.8s ease; /* Adiciona uma transição suave */
}

/* Estilo da seta personalizada quando o details está aberto (virada para baixo) */
details[open] > summary::after {
    transform: rotate(180deg); /* Quando aberto, gira para baixo */
}

details {
    padding: 20px;
}

details[open] p {
    font-size: 25px;
    padding-left: 15px;
}

.especialidades{
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Inter', sans-serif;
}

.especialidades div{
    margin-bottom: 20px;
}

.title4{
    margin-top: 140px;
    font-size: 60px;
    margin-bottom: 4%;
} 

.card2{
    background-color: #ffffff;
    box-shadow: 0 0 0.9350rem rgb(143, 142, 142);
    width: 84%;
    border-radius: 4px;
    display: flex;
    flex: 0 0 20%;
    position: flex;
}

.img-especialidades{
    display: block;
    width: 28%;
}

.texto-especialidades{
    flex: 1;
    flex-direction: row;
    padding: 35px 35px 25px 35px;
}

.texto-especialidades h3{
    font-size: 32px;
    color: #2e7974;
    font-family: 'Inter', sans-serif;
    margin-top: 20px
}

.texto-especialidades p{
    font-size: 22px;
    padding: 20px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
}

.depoimentos-section {
    display: flex;
    margin-top: 750px;
    align-items: center;
    justify-content: center;
    /*min-height: 240vh;*/
    padding: 26px;
}

.Depoimentos h2 {
    text-align: center;
    font-size: 59px;
    margin: 15px 0 5px;
    margin-bottom: 4%;
    font-family: 'Inter', sans-serif;
}

.Depoimentos {
    position: grid;
    padding: 46px 49px;
}

.Depoimentos i {
    display: grid;
    cursor: pointer;
    position: flex;
    top: 50%;
}

.setaEsquerda {
    left: -16px;
    /* Posiciona a seta para a esquerda do card */
    width: 190px;
    margin-left: 2%;
}

.Depoimentos i:last-child {
    right: -16px;
    /* Posiciona a seta para a direita do card */
    width: 190px;
    margin-right: 1%;
}

.carousel1 {
    display: flex;
    place-items: center;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 10px);
    gap: 26px;
    /*Espaçamento entre os cards */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel1::-webkit-scrollbar {
    display: none;
    /* Para barra de rolagem não aparecer */
}


.card1 {
    scroll-snap-align: start;
    max-width: 290px;
    /* Largura dos cards */
    height: 350px;
    list-style: none;
    background: #e6eaeb;
    border: 1px solid #d4e2e191;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 20px;
}

.pessoa {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pessoa h3 {
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    color: #00483e;
    margin-top: 3%;
    margin-left: 3%;
}

.card-content p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: justify;
    /* Justifica o texto */
    margin-bottom: 0;
    margin-top: 10%;
}

.card1.dragging {
    border: 1px solid #8ca4a1;
}

.footer {
    background-color: #2d7a78;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 16px;
}